
extends ../../../client/base

block head
  +html-meta("sitefile.main", "base", "sitefile")
  +std-html-client("Sf - PM")
  script(type="text/javascript", src= script)

block prologue
block header
block main
  .container.main.sf-pm2-list(data-urlbase=pm2_base)

    h3 PM2 process List

    - states = {stopped: '', errored: 'danger', online: 'success'}

    table.table.table-condensed.table-striped.table-hover
      tr
        th(colspan=2) PM

        th Status
        th PID
        th CWD
        th CMD
        th ENV
        th Branch

        th(colspan=3) Uptime

        th(colspan=3)

      tr.small
        th Id
        th Name

        th(colspan=6)

        th (sec)
        th (min)
        th (hr)

        th.small Start
        th.small Restart
        th.small Stop

      each app in apps
        - st = app.pm2_env.status
        - muted = st == 'stopped' ? ' text-muted' : ''
        - localpid_row = pid == app.pid ? ' info' : ''
        - localpid_btn = pid == app.pid ? ' danger' : ''
        tr(class= app.name+muted)
          th(class= localpid_row)
            if app.pid
              a(href= context.site.base+context.name+"/"+app.pm_id+".json")= app.pm_id
            else
              span= app.pm_id
          th(class= localpid_row)
            if app.pid
              a(href=context.site.base+context.name+"/"+app.pm_id+".html")= app.name
            else
              span= app.name
          td(class= states[st])= app.pm2_env.status
          td(data-proc-id=app.pid).proc.pid= app.pid
          td
            code.proc.cwd= app.pm2_env.cwd
          td.code.proc.cmd= app.pm2_env.pm_exec_path + ( app.pm2_env.args.join(' ') )
          td.proc.env= app.pm2_env.ENV
          td.git.branch= app.pm2_env.versioning ? app.pm2_env.versioning.branch : ''
          td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 1000).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
          td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 60 / 1000 ).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
          td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 3600 / 1000 ).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
          td(class=localpid_btn)
            button(type="button",data-appid=app.pm_id, disabled=app.pid).start.btn.btn-default.btn-sm
              span.glyphicon.glyphicon-play(aria-hidden="true")
          td(class=localpid_btn)
            if app.pid
              button(type="button",data-appid=app.pm_id, disabled=!app.pid).restart.btn.btn-default.btn-sm
                span.glyphicon.glyphicon-refresh(aria-hidden="true")
          td(class=localpid_btn)
            if app.pid
              button(type="button",data-appid=app.pm_id, disabled=!app.pid).stop.btn.btn-default.btn-sm
                span.glyphicon.glyphicon-stop(aria-hidden="true")

block document
block footer
block epilogue
