doctype html

head
  head
    title PM2 process list
    link(rel="stylesheet", type="text/css", href="/components/bootstrap/dist/css/bootstrap.css")
    script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src= script)

  body

    .container

      h3 List of PM2 processes

      - states = {stopped: '', errored: 'danger', online: 'success'}

      table.table.table-condensed.table-striped.table-hover
        tr
          th(colspan=2) PM

          th Status
          th CWD
          th CMD
          th ENV
          th PID

          th(colspan=3) Uptime

        tr
          th Id
          th Name

          th(colspan=5)

          th (sec)
          th (min)
          th (hr)

        each app in apps
          - st = app.pm2_env.status
          tr(class=app.name)
            th
              a(href=context.base+context.name+"/"+app.pm_id+".json")= app.pm_id
            th
              a(href=context.base+context.name+"/"+app.pm_id+".html")= app.name
            td(class=states[st])= app.pm2_env.status
            td= app.pm2_env.cwd
            td= app.pm2_env.pm_exec_path
            td= app.pm2_env.ENV
            td= app.pid
            td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 1000).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
            td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 60 / 1000 ).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
            td= ( ( Date.now() - app.pm2_env.pm_uptime ) / 3600 / 1000 ).toLocaleString( 'en-us', {maximumSignificantDigits: 3})
            td
              a(href=context.base+context.name+"/"+app.pm_id+"/restart") Restart



