

mixin html-meta(key, value, scheme)
  if scheme
    meta(name=key, content=value, scheme=scheme)
  else
    meta(name=key, content=value)


mixin std-html-stylesheets()
  if options.stylesheets
    if options.stylesheets.urls
      each href in options.stylesheets.urls
        link(type="text/css", rel="stylesheet", href=href)


mixin std-html-scripts()
  if options.scripts
    if options.scripts.urls
      each src in options.scripts.urls
        script(type="text/javascript", src=src)


mixin requirejs_main(client)
  script(id=client.id, data-main=client.main, src=client.href)


mixin std-html-head(title)

  title= title
  if context
    +html-meta("sitefile", context.version)

  if options.clients
    each client in options.clients
      if client.type == "require-js"
        +requirejs_main(client)

      if !main
        - main = client

  +std-html-stylesheets()
  +std-html-scripts()


