
extends base

block prologue

  // Base tpl usable as view with placeholders
  // for use with markdown router initially

  .prologue.view-placeholder!= html.prologue

block header
  .container.view-placeholder!= html.header
  hr

block main
  .container.main.view-placeholder!= html.main

block document
  .container.view-placeholder!= html.document

block footer
  hr
  .container.view-placeholder!= html.footer

block epilogue
  .epilogue.view-placeholder!= html.epilogue

